@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Invoicing Management System</h1>
    <p>From clients to payments, all in one simple module. <a href="">Start your free trial</a>.</p>
</div>
